.stepsWrapper {
  padding: 4rem;
  background-color: #7697fa;
}
.Heading {
  text-align: center;
  font-size: 2rem;
}

b,p {
  color: #000;
}

.sup {
  font-size: smaller;
  color: #fff;
}
.stepsContainer {
  display: flex;
  padding: 4rem 4rem 0rem 4rem;
  justify-content: space-evenly;
}

.stepCard {
  width: 25%;
  margin: 0rem;
  text-align: center;
  padding: 1rem 0.5rem 0.5rem 0.5rem;
  border-radius: 0.8rem;
  font-size: 1rem;
  display: flex;
}
.stepNo {
  font-size: 5rem;
  color: #000;
}
.stepDescription {
  height: 100%;
  text-align: center;
  margin: 1rem 0 0 0;
}
@media screen and (max-width: 1370px) {
}
@media screen and (max-width: 1120px) {
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 840px) {
}
@media screen and (max-width: 770px) {
  .stepCard {
    width: 33%;
    display:block;
    margin: 0rem;
    text-align: center;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    border-radius: 0.8rem;
    font-size: 1rem;
  }
}
@media screen and (max-width: 480px) {
}
@media screen and (max-width: 426px) {
  /*.stepsWrapper {
    margin: 10rem 0 8rem 0;
  }*/
  .Heading {
    margin: 1rem;
  }
  .stepsContainer {
    flex-direction: column;
    padding: 0;
    margin: 0 0 4rem 0;
  }
  .stepCard {
    width: 100%;
    margin: 2rem 1rem 2rem;
    padding: 0 2rem 0 2rem;
    text-align: center;
  }
}
@media screen and (max-width: 380px) {
}
@media screen and (max-width: 360px) {
}
