.iconColor {
  color: #7697fa;
}
.Features {
  padding: 5% 10%;
  text-align: center;
  align-items: center;
}
@media screen and (max-width: 1370px) {
}
@media screen and (max-width: 1120px) {
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 840px) {
}
@media screen and (max-width: 770px) {
}
@media screen and (max-width: 480px) {
}
@media screen and (max-width: 420px) {
}
@media screen and (max-width: 380px) {
}
@media screen and (max-width: 360px) {
}
.card {
  transform: scale(1.03);
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  border: none;  
}
.card:hover{
  border-radius: 4px;
  background:#7697fa;
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  color: azure;
}
.iconColor:hover {
  color: #fff;
}