.companyOverViewTitle {
  padding-top: 2rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
}
.companyOverViewDescription {
  margin: 3rem 0 0 0;
  padding: 1rem 5rem 1rem 5rem;
  text-align: center;
  font-size: 1.6rem;
}
.bgov{
  background-image: linear-gradient( 180.5deg,  rgba(128, 241, 241, 0.918) 12.3%, rgba(252,251,222,0.46) 92% );
  
}